body{
  margin: 0;
}

header{
  background-color: #4ea0ff;
  background-image: url(img/pattern.png);
  background-size: 30%;
}


.data{
  color: #7e7e7e;
}
main p span{
  color: #58beeb;
}

.logo{
  height: 50px;
  margin-top: 50px;
}

table{
  border-spacing: 0;
}

.larghezza{
  width: 50%;
}

.tab-title{
  color: white;
  background-color: #20a9e5;
  text-align: left;
}
.odd{
  background-color: #b1e5f2;
}